[Desktop Entry]
Name=Jams
Exec=jams %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.benfuddled.Jams
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
